{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container d-flex align-item-center justify-content-center min-vh-100">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="card title">Passsword Change Successfully</h2>
            <p class="card-text" font-family="bold">Your password has been Successfully Changeed</p>
            <a href="{% url 'index' %}" class="btn btn-info">Go to home</a>
        </div>
    </div>
</div>
{% endblock body %}