{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container d-flex align-item-center justify-content-center min-vh-100">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center">Change Passsword</h2>
            <form class="text-center" method="POST" action="">
                {% csrf_token %}
                {{form.as_table}}
                <t>
                <button type="submit" class="btn btn-outline-info">Change password</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}
    

        